<app-top-nav/>

<div *ngIf="dbWaiting()">
    <h1>Waiting for database</h1>
</div>

<div *ngIf="dbSuccess() && inAndOut">
    <h1>{{getTitleText()}}</h1>
        
    <nav>
        [
        <app-group-edit-link [group]="inAndOut!.group" [caption]="'Edit ' + inAndOut!.group.name" /> 
        | 
        <app-group-summary-link 
            [group]="inAndOut!.group" 
            [fromDate]="fromDate" [toDate]="toDate"
            [caption]="inAndOut!.group.name + ' summary'"/>
        |
        <app-group-selector caption="Select a different group" [groups]='groups' (selected)="onDifferentGroup($event)"/>
        |
        <button (click)="onSelectNewDateRange()">Select another date range</button>
        ]
    </nav>
    <table>
        <tr>
            <td>
                <h2>Deposits</h2>
                <table class="monthly-statement">
                    <tr><th>Date</th><th>Account</th><th>Amount</th><th>Note</th></tr>
                    <tr *ngFor="let transaction of inAndOut?.deposits">
                        <td>{{transaction.date_posted}}</td>
                        <td>{{getAccountName(transaction.from_id)}}</td>
                        <td class="money">{{transaction.amount | currency}}</td>
                        <td>{{transaction.note}}</td>
                    </tr>
                    <tr>
                        <td></td><td>Total</td><td class="money">{{getDepositTotal() | currency}}</td><td></td>
                    </tr>
                </table>
            </td>
            <td>
                <h2>Withdrawals</h2>
                <table class="monthly-statement">
                    <tr><th>Date</th><th>Account</th><th>Amount</th><th>Note</th></tr>
                    <tr *ngFor="let transaction of inAndOut?.withdrawals">
                        <td>{{transaction.date_posted}}</td>
                        <td>{{getAccountName(transaction.to_id)}}</td>
                        <td class="money">{{transaction.amount | currency}}</td>
                        <td>{{transaction.note}}</td>
                    </tr>
                    <tr>
                        <td></td><td>Total</td><td class="money">{{getWithdrawalTotal() | currency}}</td><td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>Balance: <span [class]='moneyClass(getDepositTotal() - getWithdrawalTotal())'>{{getDepositTotal() - getWithdrawalTotal() | currency}}</span></p>

    <hr>
    <h2>Member accounts</h2>
    <table>
        <tr *ngFor="let accountID of inAndOut!.group.members">
            <td>{{getAccountName(accountID)}}</td>
            <td><app-account-edit-link [accountID]="accountID" caption='[edit]'/></td>
            <td><app-account-statement-link 
                [accountID]="accountID" 
                [fromDate]="fromDate" [toDate]="toDate"
                caption="[statement]"/>
            </td>
        </tr>
    </table>

    <app-select-date-dialog 
        #selectDateRangeDialog 
        [fromDate]="fromDate" 
        [toDate]="toDate"
        (onApply)="onNewDateRangeSelected($event)" />
</div>

<div *ngIf="dbSuccess() && !inAndOut">
    <h1>No group found for ID {{groupID}}</h1>
</div>

<div *ngIf="dbFailure()">
    <h1>DB failure</h1>
</div>
