<app-top-nav/>

<div *ngIf="dbWaiting()">
    <h1>Waiting for database</h1>
</div>

<div *ngIf="dbSuccess() && inAndOut">
    <h1>{{getTitleText()}}</h1>
        
    <nav>
        [
        <app-group-edit-link [group]="inAndOut!.group" [caption]="'Edit ' + inAndOut!.group.name" /> 
        | 
        <app-group-summary-link 
            [group]="inAndOut!.group" 
            [fromDate]="fromDate" [toDate]="toDate"
            [caption]="inAndOut!.group.name + ' summary'"/>
        |
        <app-group-selector caption="Select a different group" [groups]='groups' (selected)="onDifferentGroup($event)"/>
        |
        <button (click)="onSelectNewDateRange()">Select another date range</button>
        ]
    </nav>
    <table>
        <tr>
            <td>
                <h2>Deposits</h2>
                <app-transaction-table
                    [transactions]="inAndOut!.deposits" [accounts]="accounts"
                    [fromDate]="fromDate" [toDate]="toDate"
                    [showFrom]="true" [showTo]="false"/>
            </td>
            <td>
                <h2>Withdrawals</h2>
                <app-transaction-table
                    [transactions]="inAndOut!.withdrawals" [accounts]="accounts"
                    [fromDate]="fromDate" [toDate]="toDate"
                    [showFrom]="false" [showTo]="true"/>
            </td>
        </tr>
    </table>
    <p>Balance: <span [class]='moneyClass(getDepositTotal() - getWithdrawalTotal())'>{{getDepositTotal() - getWithdrawalTotal() | currency}}</span></p>

    <hr>
    <h2>Member accounts</h2>
    <table>
        <tr *ngFor="let accountID of inAndOut!.group.members">
            <td>{{getAccountName(accountID)}}</td>
            <td><app-account-edit-link [accountID]="accountID" caption='[edit]'/></td>
            <td><app-account-statement-link 
                [accountID]="accountID" 
                [fromDate]="fromDate" [toDate]="toDate"
                caption="[statement]"/>
            </td>
        </tr>
    </table>

    <app-select-date-dialog 
        #selectDateRangeDialog 
        [fromDate]="fromDate" 
        [toDate]="toDate"
        (onApply)="onNewDateRangeSelected($event)" />
</div>

<div *ngIf="dbSuccess() && !inAndOut">
    <h1>No group found for ID {{groupID}}</h1>
</div>

<div *ngIf="dbFailure()">
    <h1>DB failure</h1>
</div>
