.monthly-statement
{
  border-bottom: 1px solid #0f2c6e;
}

.monthly-statement th
{
    color: white;
    background: #0f2c6e;
}

.monthly-statement tr:nth-child(2n)
{
    background: #d8dce8;
}

.monthly-statement td, .monthly-statement th
{
    padding-left: .3em;
    padding-right: .3em;
}

.monthly-statement .money { text-align: right }
.monthly-statement .withdrawal { color: red }
.debit { color: red }

.monthly-statement td:last-child
{
    max-width: 450px;
}
