<app-top-nav context="new-account"/>
<hr/>

<div *ngIf="dbWaiting()">
    <h1>Waiting for database</h1>
</div>

<div *ngIf="dbSuccess()">

    <h1>Create new account</h1>
    <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
        <table class="labeled-input">
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" formControlName="name" /></td>
            </tr>
            <tr *ngIf="showNameError()"><td colspan="2">
                <div class="validation-error">{{nameErrorText()}}</div>
            </td></tr>
            <tr>
                <td><label for="status">Status:</label></td>
                <td><select id="status" formControlName="status">
                    <option value="choose" disabled selected>Select an account status</option>
                    <option value="pinned">Pinned</option>
                    <option value="active">Active</option>
                    <option value="secondary">Secondary</option>
                    <option value="closed">Closed</option>
                </select></td>
            </tr>
        </table>
        <button type="submit" [disabled]="!readyToSubmit()">Save</button>
    </form>
    <hr>
</div>

<div *ngIf="dbFailure()">
    <h1>Error</h1>
    <p>DB failure</p>
</div>